@model IEnumerable<PawsitiveCare.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pet.PetName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DocumentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DocumentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DocumentID })
        </td>
    </tr>
}

</table>
