@model IEnumerable<PawsitiveCare.Weight>

@{
    ViewBag.Title = "Index";
}

<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="indexPanel">
            <div class="panel-body">
                <h2>Weights</h2>

                <p>
                    <button type="button" class="btn btn-default">Add Pet Weight<a href="/Weights/Create"> <i class="fas fa-plus-circle"></i></a></button>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Weight
                        </th>
                        <th>
                            Date Weighed
                        </th>
                        <th>
                            Pet Weighed
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WeightDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pet.PetName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.WeightID }) |
                                @*@Html.ActionLink("Details", "Details", new { id = item.WeightID }) |*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.WeightID })
                            </td>
                        </tr>
    }

</table>
</div>
</div>
</div>
</div>