

@model PawsitiveCare.Pet

@{
    ViewBag.Title = "Create";
}



<div class="outer">
    <div class="overlay">
        <div class="inner">
            <div class="panel panel-default" id="homePanel">
                <div class="panel-body">
                    <div>
                        <h1>Create New Pet</h1>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group col-md-10">
                                @*@Html.LabelFor(model => model.PetName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <p>What is your pet's name?</p>
                                <div>
                                    @Html.EditorFor(model => model.PetName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PetName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                @*@Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <p>What is your pet's birthday?</p>
                                <div>
                                    @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                @*@Html.LabelFor(model => model.PetType, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <p>What type of pet is this?</p>
                                <div>
                                    @Html.EditorFor(model => model.PetType, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PetType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                @*@Html.LabelFor(model => model.Breed, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <p>What breed of pet is this?</p>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Breed, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Breed, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                @*@Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <p>How much does your pet weigh?</p>
                                <div>
                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                <p>What date was this weight taken?</p>
                                @*@Html.LabelFor(model => model.WeightDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div>
                                    @Html.EditorFor(model => model.WeightDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.WeightDate, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-md-10">
                                @*@Html.LabelFor(model => model.IsFixed, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <p>Has your pet been fixed?</p>
                                <div>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.IsFixed)
                                        @Html.ValidationMessageFor(model => model.IsFixed, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Back to List", "Index")
                    </div>

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }

                </div>
            </div>
        </div>
    </div>
    </div>
    @*<form>
            <h1>Sign Up</h1>
            <input type="text" placeholder="Type Your Name" class="input-type input1" />
            <input type="Email" placeholder="Type Your Email" class="input-type input2" />
            <input type="password" placeholder="Type Your passowrd" class="input-type input3" />
            <span><i class="fa fa-eye"></i></span>
            <label>Remember Me</label>
            <input type="checkbox" class="input-check" />
            <input type="submit" class="submit" value="Submit" />
        </form>*@






















































    @*<div class="form-group">
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>
    *@

    @*<div class="form-group">
            @Html.LabelFor(model => model.PetPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PetPhoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PetPhoto, "", new { @class = "text-danger" })
            </div>
        </div>*@
