@model PawsitiveCare.Pet

@{
    ViewBag.Title = "Details";
}

<script src="~/Weight.js"></script>

<h2>Details</h2>

<div id="Orig">
    <h4>Pet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Breed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Breed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetPhoto)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.PetPhoto)"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
            @Html.ActionLink("View More", "Index", "Weights", new { id = Model.PetID }, new { })
            @Html.ActionLink("Add Weight", "Create", "Weights", new { id = Model.PetID}, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFixed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFixed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*<div style="display:none" id="Swap">
    <div class="row">
        <div class="col-md-6" id="Wdate">
            @{ Html.RenderPartial("Weight"); }
        </div>
        </div>
 </div> 


<div hidden id="Add">
   
</div>



<script>
    $.ajax({
        type: 'POST',
        url: "@Url.Action("FindWeight")",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            WeightPlug = data.d.responseText;
        },
        error: function () {
        }
    });

</script>*@