@model PawsitiveCare.Pet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container" id="Deets">
    <div class="row" id="RowDeets">
        <div class="col-md-8" id="LargeDeets">
            <h1>@Html.DisplayFor(model => model.PetName)</h1>
            <p>@Html.DisplayFor(model => model.BirthDate)</p>
            <p>@Html.DisplayFor(model => model.PetType)</p>
            <p>@Html.DisplayFor(model => model.IsFixed)</p>
            <p>Image</p>
        </div>
        <div class="col-md-4" id="SmallDeets">
            <h2>Weight</h2>
            @Html.ActionLink("View More", "Index", "Weights", new { id = Model.PetID }, new { })
            @Html.ActionLink("Add Weight", "Create", "Weights", new { id = Model.PetID }, new { })
        </div>
    </div>
    <div class="row" id="RowDeets">
        <div class="col-md-4" id="SmallDeets">
            <h2>Surgeries</h2>
        </div>
    </div>
    <div class="row" id="RowDeets">
        <div class="col-md-4" id="SmallDeets">
            <h2>Vaccinations</h2>
        </div>
            <div class="col-md-4" id="SmallDeets">
                <h2>Documents</h2>
            </div>
            <div class="col-md-4" id="SmallDeets">
                <h2>Visits</h2>
            </div>
            
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*<div style="display:none" id="Swap">
    <div class="row">
        <div class="col-md-6" id="Wdate">
            @{ Html.RenderPartial("Weight"); }
        </div>
        </div>
 </div> 


<div hidden id="Add">
   
</div>



<script>
    $.ajax({
        type: 'POST',
        url: "@Url.Action("FindWeight")",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            WeightPlug = data.d.responseText;
        },
        error: function () {
        }
    });

</script>*@