@model IEnumerable<PawsitiveCare.Pet>

<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="indexPanel">
            <div class="panel-body">
                <h2>Pets</h2>

                <p>
                    <button type="button" class="btn btn-default">Add a Pet<a href="/Pets/Add"> <i class="fas fa-plus-circle"></i></a></button>
                </p>


                @foreach (var item in Model)
                {
                    <div class="col-md-2">
                        <div class="thumbnail index">
                            <img src=" @Html.DisplayFor(modelItem => item.PetPhoto)" class="indexPages" />
                            <div class="caption">
                                <h4>@Html.DisplayFor(modelItem => item.PetName)</h4>
                                <p class="imageDetails">

                                    @Html.DisplayFor(modelItem => item.PetType)<br />

                                    @Html.DisplayFor(modelItem => item.Breed)<br />

                                    @Html.DisplayFor(modelItem => item.AspNetUser.Email)

                                    <a href="@Url.Action("Edit", "Pets", new { id = item.PetID })" class="fas fa-edit"></a>
                                    <a href="@Url.Action("Details", "Pets", new { id = item.PetID })" class="fas fa-info-circle"></a>
                                    <a href="@Url.Action("Delete", "Pets", new { id = item.PetID})" class="fas fa-trash-alt"></a>

                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
