@model IEnumerable<PawsitiveCare.Image>

@{
    ViewBag.Title = "Index";
}


<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="indexPanel">
            <div class="panel-body">
                <h2>Images</h2>

                <p>
                    <button type="button" class="btn btn-default">Add Image<a href="/Images/Create"> <i class="fas fa-plus-circle"></i></a></button>
                </p>
                @foreach (var item in Model)
    {

            <div class="col-md-2">
                <div class="thumbnail index">

                    

                    <img src="@Html.DisplayFor(modelItem => item.ImagePath)" class="indexPages"/>
                    <div class="caption">
                        <p class="imageDetails">
                            @Html.DisplayFor(modelItem => item.Pet.PetName)<br />

                            <a href="@Url.Action("Edit", "Images", new { id = item.ImageID })" class="fas fa-edit"></a>
                            <a href="@Url.Action("Details", "Images", new { id = item.ImageID })" class="fas fa-info-circle"></a>
                            <a href="@Url.Action("Delete", "Images", new { id = item.ImageID})" class="fas fa-trash-alt"></a>
                        </p>
                    </div>
                </div>
            </div>
}

            </div>
            </div>
        </div>
    </div>
