@model IEnumerable<PawsitiveCare.Vaccination>

@{
    ViewBag.Title = "Index";
}

<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="indexPanel">
            <div class="panel-body">

                <h2>Vaccination Records</h2>

                <p>
                    <button type="button" class="btn btn-default">Add Record<a href="/Vaccinations/Create"> <i class="fas fa-plus-circle"></i></a></button>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Pet Name
                        </th>
                        <th>
                            Vaccination Type
                        </th>
                        <th>
                            Date Received
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pet.PetName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VaccinationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateReceived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.VaccinationsID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.VaccinationsID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.VaccinationsID })
                </td>
            </tr>
}

                </table>
            </div>
        </div>
    </div>
</div>

<script>

</script>