@model IEnumerable<PawsitiveCare.Surgery>

@{
    ViewBag.Title = "Index";
}


<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="indexPanel">
            <div class="panel-body">
                <h2>Surgeries</h2>

                <p>
                    <button type="button" class="btn btn-default">Add Surgery Record<a href="/Surgeries/Create"> <i class="fas fa-plus-circle"></i></a></button>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SurgeryDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SurgeryDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pet.PetName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.SurgeryID }) |
                                @*@Html.ActionLink("Details", "Details", new { id = item.SurgeryID }) |*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.SurgeryID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>