@model IEnumerable<PawsitiveCare.Surgery>

<table>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SurgeryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SurgeryDescription)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SurgeryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SurgeryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SurgeryID })
        </td>*@
    </tr>
}

</table>
