@model IEnumerable<PawsitiveCare.Visit>

@{
    ViewBag.Title = "Index";
}

<div class="outer">
    <div class="overlay"></div>
    <div class="inner">
        <div class="panel panel-default" id="indexPanel">
            <div class="panel-body">
                <h2>Vet Visits</h2>

                <p>
                    <button type="button" class="btn btn-default">Add Visit Record<a href="/Visits/Create"> <i class="fas fa-plus-circle"></i></a></button>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Clinic Name
                        </th>
                        <th>
                            Cost
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Date of Visit
                        </th>
                        <th>
                            Pet Name
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClinicName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VisitCost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VisitDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VisitDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pet.PetName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.VisitsID }) |
                                @*@Html.ActionLink("Details", "Details", new { id = item.VisitsID }) |*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.VisitsID })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>